.input-group {
    background-color: #b29f9f;
}






#test-form input[name="first_name"] {
    border: 2px solid black;
    
    
}
#test-form input[type="text"][name="last_name"] {
    border: 2px solid #2adb37;
    
    
}
    
